.background{
    width: 100%;
    background-color: lightblue;
    padding: 30px;
 }

.cart-table{
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    border-collapse: collapse;
}

.cart-table td, .cart-table th{
    padding: 15px;
    border-bottom: 1px solid lightblue;
}

.cell-long{
    width: 700px;
}

.edit-cart{
    width: 50%;
    max-width: 350px;
    padding: 10px;
    padding-top: 0px;
    margin: auto;
    float: left;
}

.method{
    width: 200px;
    
    background-color: blueviolet;
    padding: 10px;
    float: right;
    margin: 10px;
    border-radius: 5px;
    
}
