.background{
    width: 100%;
    height: 1000px;
    background-color: gray;
     /* 기준이 내 원래 위치요 */

}

.main {
    padding: 1px;
    width: 400px;
    height: 600px;
    background-color: white;
    position : relative;
    top:50px;
    left : 0;
    right : 0; 
    margin-left : auto;
    margin-right : auto;
}

.title{
    position: relative;
    padding: 1px;
    margin-left: 30px;
}

.email{
    position: relative;
    padding: 1px;
    margin-left: 30px;
}

.email input{
    margin-top: -10px;
    position: absolute;
    width: 88%;
    border-radius: 5px;
    border: solid gray;
}

.first-name{
    padding: 1px;
    position: relative;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}

.first-name input{
    margin-top: -10px;
    position: absolute;
    width: 200%;
    border-radius: 5px;
    border: solid gray;
}

.last-name{
    padding: 1px;
    float: right;
    position: relative;
    margin-right: 125px;
    margin-top: 15px;
}

.last-name input{
    margin-top: -10px;
    position: absolute;
    width: 200%;
    border-radius: 5px;
    border: solid gray;
}

.message {
    clear: both;
    padding: 1px;
    position: relative;
    margin-top: 15px;
    margin-left: 30px;
}

.message input{
    margin-top: -10px;
    position: absolute;
    width: 88%;
    height: 300%;
    border-radius: 5px;
    border: solid gray;
}

.footer {
    padding: 1px;
    position: relative;
    margin-top: 200px;
    margin-left: 30px;
}

.footer button{
    padding: 1px;
    margin-left: 134px;
    width: 100px;
    border-radius: 5px;
    background-color: orange;
    border:solid orange;
    color: white;
}
