.bg{
    background-size: auto;
    background: #f7f9fc;
    padding: 80px 120px 80px 120px;
}

.card-body{
    padding: 20px;
}

.gps{
    margin-top: -15px;
    margin-bottom: 5px;
}

.btn{
    border: none;
    background-color:  #038dfe;
    color: white;
}
.btn:hover{
    background-color:  #6fbaf8;
    color: white;
}
.info{
    margin: 50px 30px 30px 30px;
}
.info h4{
    font-weight:600
}